body {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 420px) {
  .cover {
    height: 200px;
  }

  .head {
    height: 60px;
    line-height:60px;
  }
}

@media screen and (min-width: 420px) {
  .cover {
    height: 260px;
  }

  .head {
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (min-width: 580px) {
  .cover {
    height: 320px;
  }

  .head {
    height: 80px;
    line-height: 80px;
  }
}

@media screen and (min-width: 730px) {
  .cover {
    height: 400px;
  }
}

@media screen and (min-width: 920px) {
  .cover {
    height: 480px;
  }

  .entrance {
    margin-left: 60px;
    margin-right: 60px;
  }

}

@media screen and (min-width: 1080px) {
  .cover {
    height: 600px;
  }

  .entrance {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 1360px) {
  .cover {
    height: 800px;
  }

  .entrance {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1800px) {
  .cover {
    height: 1000px;
  }

  .entrance {
    margin-left: 260px;
    margin-right: 260px;
  }
}


.cover {
  width: 100%;
  background-image: url(../img/cover.png);
  background-size: 100% auto;
  background-position: center 0;
  position: relative;
  background-repeat: no-repeat;
}

.head {
  width: 100%;
  background: inherit;
  position: relative;
  overflow: hidden;
}

.head-blur {
  width: 100%;
  height: 140px;
  margin-top: -20px;
  background: inherit;
  filter: blur(10px);
  -webkit-filter:blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  position: absolute;
}

.head-color {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  color: #fff;
  font-size: 28px;
  font-family: "黑体";
  margin-left: 40px;
  position: absolute;
}

.row {
  width: 100%;
  height: auto;
  text-align: center;
}

.entrance {
  width: 300px;
  height: 160px;
  background-color: #5398ff;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 2px #888;
}

.entrance h2 {
  color: #fff;
  text-align: left;
  font-size: 18px;
  width: 100px;
  margin-left: 20px;
  position: absolute;
}

.entrance img {
  width: 160px;
  height: 160px;
  position: absolute;
  right: 0;
}

.entrance ul {
  position: absolute;
  top: 40px;
  margin: 0;
  color: #fff;
}

.entrance a {
  width: 100%;
  height: 100%;
  background-color: pink;
  display: block;
  position: absolute;
  opacity: 0;
}
